* {
	margin: 0;
	padding: 0;
	user-select: none;
}
body {
	background-color: rgb(213, 221, 213);
}
.contener {
	width: 100%;
}
.con {
	width: 100%;
	box-sizing: border-box;
	padding: 40px 30px;
}
.img,
.img1 {
	width: 30px;

	cursor: pointer;
}
.img:hover,
.img1:hover {
	width: 30px;
	transform: scale(1.4);
	cursor: pointer;
}
tr {
	width: 100%;
	border: 1px solid black;

	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 30px;
	padding: 10px;
}

.idtd {
	width: 30px;
}
.nametd {
	width: 180px;
}
.emailtd {
	width: 230px;
}
.teltd {
	width: 180px;
}
span {
	width: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
